<h1>Listing f5_clusters</h1>

<table>
  <tr>
    <th>Data center</th>
    <th>Primary unit ip</th>
    <th>Secondary unit ip</th>
    <th>Primary unit name</th>
    <th>Secondary unit name</th>
    <th>Network list</th>
    <th>Network name list</th>
    <th>Access ip</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @f5_clusters.each do |f5_cluster| %>
  <tr>
    <td><%= f5_cluster.data_center %></td>
    <td><%= f5_cluster.primary_unit_ip %></td>
    <td><%= f5_cluster.secondary_unit_ip %></td>
    <td><%= f5_cluster.primary_unit_name %></td>
    <td><%= f5_cluster.secondary_unit_name %></td>
    <td><%= f5_cluster.network_list %></td>
    <td><%= f5_cluster.network_name_list %></td>
    <td><%= f5_cluster.access_ip %></td>
    <td><%= f5_cluster.name %></td>
    <td><%= link_to 'Show', f5_cluster %></td>
    <td><%= link_to 'Edit', edit_f5_cluster_path(f5_cluster) %></td>
    <td><%= link_to 'Destroy', f5_cluster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New F5 cluster', new_f5_cluster_path %>
