<p id="notice"><%= notice %></p>

<p>
  <b>Data center:</b>
  <%= @f5_cluster.data_center %>
</p>

<p>
  <b>Primary unit ip:</b>
  <%= @f5_cluster.primary_unit_ip %>
</p>

<p>
  <b>Secondary unit ip:</b>
  <%= @f5_cluster.secondary_unit_ip %>
</p>

<p>
  <b>Primary unit name:</b>
  <%= @f5_cluster.primary_unit_name %>
</p>

<p>
  <b>Secondary unit name:</b>
  <%= @f5_cluster.secondary_unit_name %>
</p>

<p>
  <b>Network list:</b>
  <%= @f5_cluster.network_list %>
</p>

<p>
  <b>Network name list:</b>
  <%= @f5_cluster.network_name_list %>
</p>

<p>
  <b>Access ip:</b>
  <%= @f5_cluster.access_ip %>
</p>

<p>
  <b>Name:</b>
  <%= @f5_cluster.name %>
</p>


<%= link_to 'Edit', edit_f5_cluster_path(@f5_cluster) %> |
<%= link_to 'Back', f5_clusters_path %>
