<p id="notice"><%= notice %></p>

<p>
  <b>Application:</b>
  <%= @appresource.application_id %>
</p>

<p>
  <b>Service:</b>
  <%= @appresource.service_id %>
</p>


<%= link_to 'Edit', edit_appresource_path(@appresource) %> |
<%= link_to 'Back', appresources_path %>
