<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @san_switch.name %>
</p>

<p>
  <b>Ip:</b>
  <%= @san_switch.ip %>
</p>

<p>
  <b>Vendor:</b>
  <%= @san_switch.vendor %>
</p>

<p>
  <b>Model:</b>
  <%= @san_switch.model %>
</p>

<p>
  <b>Boot prom:</b>
  <%= @san_switch.boot_prom %>
</p>

<p>
  <b>Fabric os:</b>
  <%= @san_switch.fabric_os %>
</p>

<p>
  <b>Factory part no:</b>
  <%= @san_switch.factory_part_no %>
</p>

<p>
  <b>Kernel:</b>
  <%= @san_switch.kernel %>
</p>

<p>
  <b>Part no:</b>
  <%= @san_switch.part_no %>
</p>

<p>
  <b>Serial no:</b>
  <%= @san_switch.serial_no %>
</p>

<p>
  <b>Domain:</b>
  <%= @san_switch.domain %>
</p>

<p>
  <b>Switch:</b>
  <%= @san_switch.switch_id %>
</p>

<p>
  <b>State:</b>
  <%= @san_switch.state %>
</p>

<p>
  <b>Switch type:</b>
  <%= @san_switch.switch_type %>
</p>

<p>
  <b>Wwn:</b>
  <%= @san_switch.wwn %>
</p>


<%= link_to 'Edit', edit_san_switch_path(@san_switch) %> |
<%= link_to 'Back', san_switches_path %>
