<h1>Listing instances</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Application</th>
    <th>Inst</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @instances.each do |instance| %>
  <tr>
    <td><%= instance.name %></td>
    <td><%= instance.description %></td>
    <td><%= instance.application_id %></td>
    <td><%= instance.inst_id %></td>
    <td><%= link_to 'Show', instance %></td>
    <td><%= link_to 'Edit', edit_instance_path(instance) %></td>
    <td><%= link_to 'Destroy', instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Instance', new_instance_path %>
