<h1>Listing tiers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Application</th>
    <th>Instance</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tiers.each do |tier| %>
  <tr>
    <td><%= tier.name %></td>
    <td><%= tier.description %></td>
    <td><%= tier.application_id %></td>
    <td><%= tier.instance_id %></td>
    <td><%= link_to 'Show', tier %></td>
    <td><%= link_to 'Edit', edit_tier_path(tier) %></td>
    <td><%= link_to 'Destroy', tier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tier', new_tier_path %>
