<div class="right-panel">
  <div class="span9">


    <div class="workflow-blocks">
      <div class="workflow-heading"><b>F5 VIP:</b> <%= @re_f5_vip.name %></div>

      <table class="table table-hover">
        <tbody>
          <tr>
            <td><b>F5 VIP Name</b></td>
            <td><%= @re_f5_vip.name %></td>
            <td><b>VIP IP</b></td>
            <td><%= @re_f5_vip.address %></td>
            <!-- <td><b>F5 VIP IP</b></td> -->
            <!-- <td><%#= @re_f5_vip.ip %></td> -->
          </tr>
          <tr>
            <td ><b>VIP Status</b></td>
            <td ><%= @re_f5_vip.vip_status %></td>
            <td ><b>F5 Location</b></td>
            <td ><%= @re_f5_vip.location %></td>
          </tr> 
          <tr>
            <td><b>Environment</b></td>
            <td><%= @re_f5_vip.environment %></td>
            <td ><b>Partition</b></td>
            <td ><%= @re_f5_vip.partition %></td>
          </tr> 
          <% @pool = ReF5Pool.where(:name =>@re_f5_vip.poool_name).first%>
          <!-- <tr> -->
            
            <!-- <td><b>VIPs</b></td> -->
            <!-- <td><%#= @pool.vips if @pool.present?%></td> -->
          <!-- </tr>  -->
          <tr>
            <td><b>iRules</b></td>
            <td><%= @re_f5_vip.irules %></td>
            <td ><b>Persistence Method</b></td>
            <td ><%= @re_f5_vip.persistance_method %></td>
          </tr> 
          <tr>
           <td><b>Pool Name</b></td>
           <td><%= @re_f5_vip.poool_name %></td>
           <td><b>LB Method</b></td>
           <% @pool.lb_method.slice!"LB_METHOD_"  if @pool.present?%>
           <td><%= @pool.lb_method if @pool.present?%></td>
         </tr> 
         <tr>
          <td><b>Pool Monitor</b></td>
          <td><%= @pool.pool_monitor if @pool.present? %></td>
          <td ><b>Pool status</b></td>
          <td ><%= @pool.pool_status if @pool.present? %></td>
        </tr> 
        <tr>
          <td ><b>Pool Members</b></td>
          <td colspan=3><%= @pool.pool_members if @pool.present? %></td>
        </tr> 

      </tbody></table>

    </div>
    <% @f5_inventories = ReF5Inventory.where(:floating_ip=>@re_f5_vip.ip)%>
    <% @f5_inventories.each do |each_in|%>

    <div class="workflow-blocks">
      <div class="workflow-heading"><b>Is Deployed In:</b></div>

      <table class="table table-hover">
        <tbody>
         <tr>

          <td><b>Host</b></td>
          <td><%= each_in.hostname%></td>
          <td><b>Serial</b></td>
          <td><%= each_in.serial%></td>

        </tr> 
        <tr>
          <td><b>Admin IP</b></td>
              <td><%= link_to "https://#{each_in.admin_ip}","https://#{each_in.admin_ip}", target: "_blank"%></td>

          <td><b>Marketing Name</b></td>
          <td><%= each_in.marketing_name%></td>
        </tr>
        <tr>
          <td><b>Version</b></td>
          <td><%= each_in.version%></td>
        <% if each_in.failover_state.split('_')[2] == "ACTIVE"%>
          <% image = "green.png"%>
          <% else each_in.failover_state.split('_')[2] == "standby" %>
          <% image = "red.png"%>
          <% end %>
          <td><b>Failover State</b></td>
          <td>  <%= image_tag "#{image}", :style=> "margin:-4px 3px 0 0;width:21px;height:21px;"%><%= each_in.failover_state.split('_')[2] %></td>
          </tr>
        <tr>
      <!--     <td><b>Peer Address</b></td>
          <td><%#= each_in.peer_address%></td> 
        </tr>
          <td><b>Failover Mode</b></td>
          <td><%#= each_in.failover_mode%></td> 
        
        <tr>
          <td><b>Peer Admin IP</b></td>
          <td><%#= each_in.peer_admin_ip%></td>
          <td><b>Floating IP</b></td>
          <td><%#= each_in.floating_ip%></td>-->
        </tr> 

      </tbody></table>

    </div>
    <% end %>
  </div>
</div>
