<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @re_f5_vip.name %>
</p>

<p>
  <b>Address:</b>
  <%= @re_f5_vip.address %>
</p>

<p>
  <b>Ip:</b>
  <%= @re_f5_vip.ip %>
</p>

<p>
  <b>Partition:</b>
  <%= @re_f5_vip.partition %>
</p>

<p>
  <b>Location:</b>
  <%= @re_f5_vip.location %>
</p>

<p>
  <b>Environment:</b>
  <%= @re_f5_vip.environment %>
</p>

<p>
  <b>Poool name:</b>
  <%= @re_f5_vip.poool_name %>
</p>

<p>
  <b>Vip status:</b>
  <%= @re_f5_vip.vip_status %>
</p>

<p>
  <b>Irules:</b>
  <%= @re_f5_vip.irules %>
</p>

<p>
  <b>Persistance method:</b>
  <%= @re_f5_vip.persistance_method %>
</p>


<%= link_to 'Edit', edit_re_f5_vip_path(@re_f5_vip) %> |
<%= link_to 'Back', re_f5_vips_path %>
