<div class="right-panel">
  <div class="span9">

    <div class="span6">
      <div class="workflow-blocks">
        <div class="workflow-heading"><span>Basic Data</span><p> <%#= @vm.power_state %></p></div>

        <table class="table table-hover">
          <tbody>
            <tr>
              <td><b>Name</b></td>
              <td><%= @cluster.name %></td>
            </tr>
            
            <tr>
              <td><b>VDC</b></td>
              <td><%= link_to my_vdc(@cluster.vdc_id).name , my_vdc(@cluster.vdc_id), :style=>"color:black;", :remote=> true%></td>
            </tr> 
            <tr>
              <td><b>Total CPU</b></td>
              <td><%= @cluster.cpu_total_mhz %></td>
            </tr> 

            <tr>
              <td><b>Total menory(mb)</b></td>
              <td><%= @cluster.mem_total_mb/1000000  %></td>
            </tr>  

            <tr>
              <td><b>CPU Cores</b></td>
              <td><%= @cluster.cpu_no_cores %></td>
            </tr> 
            <tr>
              <td><b>Vcenter</b></td>
              <td><%= link_to my_vcenter(@cluster.vcenter_id).name , my_vcenter(@cluster.vcenter_id), :style=>"color:black;", :remote=> true%></td>
            </tr>   


          </tbody></table>

        </div>
      </div>
      <div class="panel-group" id="accordion" style="clear:left;">
        <% @vms = get_vms(@cluster.id) %>

        <div class="panel panel-default  span6"  style="margin-top:0px;">
          <div class="workflow-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#vms">
              <span>VMs</span>
              <p> Count : <%= @vms.count %></p></a>
            </div>

            <div id="vms" class="panel-collapse collapse">
              <div class="panel-body" style="max-height:458px; overflow:auto;">
                <table class="table table-hover">
                 <tbody>
                   <% @vms.each do |each_vm|%>
                   <tr>
                    <td><b><%= link_to each_vm.name, each_vmsx, :style=>"color:black;", :remote=> true%></b></td>

                    <td><%#= @vm.power_state %></td>
                  </tr>  
                  <% end %>
                </tbody></table>
              </div>
            </div>
          </div>



          <% @vcenter = Vcenter.find_by_id(@cluster.vcenter_id) %>
          <div  class="panel panel-default  span6"  style="margin-top:0px;">
            <% @esxs = get_esx(@vcenter) %>
            <div class="workflow-heading">
              <a data-toggle="collapse" data-parent="#accordion" href="#vmhost">
                <span>Vmhost</span>
                <p> Count : <%= @esxs.count %></p></a>
              </div>

              <div id="vmhost" class="panel-collapse collapse">
                <div class="panel-body" style="max-height:458px; overflow:auto;">
                  <table class="table table-hover">
                   <tbody>
                     <% @esxs.each do |each_esx|%>
                     <tr>
                      <td><b><%= link_to each_esx.name, each_esx, :style=>"color:black;", :remote=> true%></b></td>

                      <td><%#= @vm.power_state %></td>
                    </tr>  
                    <% end %>
                  </tbody></table>
                </div>
              </div>
            </div>
          </div>


          <!-- <div class="span4">
            <div class="workflow-blocks">
              <div class="workflow-heading"><span>OPS Data</span><p></p></div>
              <table class="table table-hover">

               
              </table>
              </div>
            </div><!--/span--> 

            


            <!--Section Ends Here -->


            <%#= link_to 'Edit', edit_vm_path(@vm) %> 
            <%#= link_to 'Back', vms_path %>
          </div><!--/span-->
        </div><!--/span-->
