<%= form_for(@cluster) do |f| %>
  <% if @cluster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cluster.errors.count, "error") %> prohibited this cluster from being saved:</h2>

      <ul>
      <% @cluster.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :vdc_id %><br />
    <%= f.number_field :vdc_id %>
  </div>
  <div class="field">
    <%= f.label :ha_enabled %><br />
    <%= f.number_field :ha_enabled %>
  </div>
  <div class="field">
    <%= f.label :drs_enables %><br />
    <%= f.number_field :drs_enables %>
  </div>
  <div class="field">
    <%= f.label :folder_id %><br />
    <%= f.number_field :folder_id %>
  </div>
  <div class="field">
    <%= f.label :cpu_total_mhz %><br />
    <%= f.number_field :cpu_total_mhz %>
  </div>
  <div class="field">
    <%= f.label :mem_total_mb %><br />
    <%= f.number_field :mem_total_mb %>
  </div>
  <div class="field">
    <%= f.label :cpu_no_cores %><br />
    <%= f.number_field :cpu_no_cores %>
  </div>
  <div class="field">
    <%= f.label :vcenter_id %><br />
    <%= f.number_field :vcenter_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
