
<div class="index-container">
<div class="col-sm-12">
  <div class="form-search col-sm-4">
    <h2>Cluster Details</h2></div>
    <div class="form-search col-sm-4" style="margin-top:20px;">
      <div class="input-append">

        <%= form_tag clusters_path, :method => :get, :remote=> true do %>
        <%= text_field_tag :search, params[:search],:class=>"span2 search-query" ,:style=>"height:30px;"%>
        <%= submit_tag "Search", :name => nil, :class=>"btn" %>
        <% end %>
      </div>
    </div>
  </div>
<div class ="container" style="height:662px;overflow:auto;">

  <table class="table table-striped tablesorter">
    <tr>
      <th>Name</th>
      <th>Vcenter</th>
      <th>Total Cpu(GHz)</th>
      <th colspan=2> Actions</th>
    </tr>
    <% @clusters.each do |cluster| %>
    <% if cluster.ops_status=="Deleted"%>
    <tr class="alert alert-error">
      <td colspan=6><%= cluster.name %> is deleted</td>
      <td colspan=2><%= link_to 'Delete Permanently', cluster, method: :delete, data: { confirm: 'Are you sure? will not reverted back' } ,:class => 'btn btn-mini btn-danger delete-row', :remote=> true%></td>
    </tr>
    <% else %>
    <tr style="cursor:pointer;" id ="complete_tr">
      <td><%= cluster.name %></td>
      <!-- <td><%#= my_vdc(cluster.vdc_id).name %></td> -->
      <td><%= my_vcenter(cluster.vcenter_id).name %></td>
      <td><%= cluster.cpu_total_mhz%></td>
       <!-- <td><%#= cluster.mem_total_mb/1000000 %></td> -->
      <!--  <td><%#= cluster.cpu_no_cores%></td> -->
      <td><%= link_to 'Show', cluster ,:class => 'btn btn-mini btn-info', :remote=> true%></td>
      <!-- <td><%#= link_to 'Edit', edit_cluster_path(cluster),:class => 'btn btn-mini btn-warning' %></td> -->
      <td><%#= link_to 'Destroy', cluster, method: :delete, data: { confirm: 'Are you sure?' } ,:class => 'btn btn-mini btn-danger'%></td>
    </tr>
    <% end %>
    <% end %>
  </table>
</div>
  <div class="digg_pagination">
    <%#= paginate @clusters, :container => false, :remote=> true %>
  </div>
 
</div>
  <%#= link_to 'New cluster', new_cluster_path %>

  <script>
  $(function(){
    $('table').tablesorter({
      widgets        : ['zebra', 'columns'],
      usNumberFormat : false,
      sortReset      : true,
      sortRestart    : true
    });
  });

    </script>


