<h1>Listing clusters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Vcenter</th>
    <th>Vdc</th>
    <th>Cpu total mhz</th>
    <th>Mem total mb</th>
    <th>Cpu no cores</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clusters.each do |cluster| %>
  <tr>
    <td><%= cluster.name %></td>
    <td><%= cluster.vcenter_id %></td>
    <td><%= cluster.vdc_id %></td>
    <td><%= cluster.cpu_total_mhz %></td>
    <td><%= cluster.mem_total_mb %></td>
    <td><%= cluster.cpu_no_cores %></td>
    <td><%= link_to 'Show', cluster %></td>
    <td><%= link_to 'Edit', edit_cluster_path(cluster) %></td>
    <td><%= link_to 'Destroy', cluster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cluster', new_cluster_path %>
