<%= form_for(@dns_record) do |f| %>
  <% if @dns_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dns_record.errors.count, "error") %> prohibited this dns_record from being saved:</h2>

      <ul>
      <% @dns_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :fqdn %><br />
    <%= f.text_field :fqdn %>
  </div>
  <div class="field">
    <%= f.label :record_type %><br />
    <%= f.text_field :record_type %>
  </div>
  <div class="field">
    <%= f.label :vm_id %><br />
    <%= f.number_field :vm_id %>
  </div>
  <div class="field">
    <%= f.label :f5_vip_id %><br />
    <%= f.number_field :f5_vip_id %>
  </div>
  <div class="field">
    <%= f.label :f5_node_id %><br />
    <%= f.number_field :f5_node_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
