<h1>Listing portgroups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Vmhost</th>
    <th>Vswitch</th>
    <th>Pnic</th>
    <th>A s</th>
    <th>Vswitch</th>
    <th>Vcenter</th>
    <th>Vdc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @portgroups.each do |portgroup| %>
  <tr>
    <td><%= portgroup.name %></td>
    <td><%= portgroup.vmhost_id %></td>
    <td><%= portgroup.vswitch %></td>
    <td><%= portgroup.pnic_id %></td>
    <td><%= portgroup.a_s %></td>
    <td><%= portgroup.vswitch_id %></td>
    <td><%= portgroup.vcenter_id %></td>
    <td><%= portgroup.vdc_id %></td>
    <td><%= link_to 'Show', portgroup %></td>
    <td><%= link_to 'Edit', edit_portgroup_path(portgroup) %></td>
    <td><%= link_to 'Destroy', portgroup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Portgroup', new_portgroup_path %>
