<h1>Listing vmvips</h1>

<table>
  <tr>
    <th>Vm</th>
    <th>F5 vip</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vmvips.each do |vmvip| %>
  <tr>
    <td><%= vmvip.vm_id %></td>
    <td><%= vmvip.f5_vip_id %></td>
    <td><%= link_to 'Show', vmvip %></td>
    <td><%= link_to 'Edit', edit_vmvip_path(vmvip) %></td>
    <td><%= link_to 'Destroy', vmvip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vmvip', new_vmvip_path %>
