<%= form_for(@storage_group_lun) do |f| %>
  <% if @storage_group_lun.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@storage_group_lun.errors.count, "error") %> prohibited this storage_group_lun from being saved:</h2>

      <ul>
      <% @storage_group_lun.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :storage_group_id %><br />
    <%= f.number_field :storage_group_id %>
  </div>
  <div class="field">
    <%= f.label :storage_lun_id %><br />
    <%= f.number_field :storage_lun_id %>
  </div>
  <div class="field">
    <%= f.label :host_lun %><br />
    <%= f.number_field :host_lun %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
