<%= form_for(@vdc , remote: true) do |f| %>
  <% if @vdc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vdc.errors.count, "error") %> prohibited this vdc from being saved:</h2>

      <ul>
      <% @vdc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset class="formfield">
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :class=>"ops_input"  %>
  </p>
   <p class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :height=>"20%", :width=>"20%", :class=>"ops_input" %>
  </p>
    <%= f.submit :class=>"btn btn-primary",:value=>"Update DataCenter", :remote=> true %>
<% end %>
</fieldset>

<style>
.ops_input{
   margin-top:-14px !important;float: left; width: 50% !important; border: 1px solid #d9d9d9;height: 35px !important;padding: 4px;border-radius: 5px; 
}
</style>