<%= form_for(@vdc) do |f| %>
  <% if @vdc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vdc.errors.count, "error") %> prohibited this vdc from being saved:</h2>

      <ul>
      <% @vdc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :vcenter_id %><br />
    <%= f.number_field :vcenter_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
