<h1>Listing vdcs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Vcenter</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vdcs.each do |vdc| %>
  <tr>
    <td><%= vdc.name %></td>
    <td><%= vdc.description %></td>
    <td><%= vdc.vcenter_id %></td>
    <td><%= link_to 'Show', vdc %></td>
    <td><%= link_to 'Edit', edit_vdc_path(vdc) %></td>
    <td><%= link_to 'Destroy', vdc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vdc', new_vdc_path %>
