<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @vdc.name %>
</p>

<p>
  <b>Description:</b>
  <%= @vdc.description %>
</p>

<p>
  <b>Vcenter:</b>
  <%= @vdc.vcenter_id %>
</p>


<%= link_to 'Edit', edit_vdc_path(@vdc) %> |
<%= link_to 'Back', vdcs_path %>
