<div class="page-header">
  <h1>VM Details</h1>
<%= form_tag vms_path, :method => :get do %>
  <p>
 <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
</div>

<table class="table table-striped tablesorter">
  <tr>
    <th>Data center</th>
    <th>state</th>
    <th>Status</th>
    <th>VM Name</th>
    <th>VCserver</th>
    <th colspan=3> Actions</th>
  </tr>

<% @vms.each do |vm| %>
  <tr>
    <td><%= vm.datacenter %></td>
    <td><%= vm.connectionstate %></td>
    <td><%= vm.powerstate %></td>
    <td><%= vm.vmname %></td>
    <td><%= vm.vcserver %></td>
    <td><%= link_to 'Show', vm ,:class => 'btn btn-mini'%></td>
    <td><%= link_to 'Edit', edit_vm_path(vm),:class => 'btn btn-mini' %></td>
    <td><%= link_to 'Destroy', vm, method: :delete, data: { confirm: 'Are you sure?' } ,:class => 'btn btn-mini btn-danger'%></td>
  </tr>
<% end %>
</table>

<br />
<h2>Import Products</h2>
<%= form_tag import_vms_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<%= will_paginate @vms %>
<%= link_to 'New Vm', new_vm_path %>

<script>
    $(function(){
        $('table').tablesorter({
            widgets        : ['zebra', 'columns'],
            usNumberFormat : false,
            sortReset      : true,
            sortRestart    : true
        });
    });
    </script>

