
<h1>Listing vms</h1>

<table>
  <tr>
    <th>Datacenter</th>
    <!-- <th>Qtynics</th> -->
    <th>Createdby</th>
    <!-- <th>Createdtime</th> -->
   <!--  <th>Suspendinterval</th>
    <th>Suspendtime</th>
    <th>Boottime</th>
    <th>Storageuncommitted</th>
    <th>Storagecommitted</th>
    <th>Ipaddress</th>
    <th>Hostname</th>
    <th>Toolsrunningstatus</th>
    <th>Toolsversion</th>
    <th>Toolstatus</th>
    <th>Guestfullname</th>
    <th>Usedspacegb</th>
    <th>Provisionedspacegb</th>
    <th>Memorymb</th>
    <th>Numcpu</th>
    <th>Version</th>
    <th>Gueststate</th>
    <th>Connectionstate</th>
    <th>Powerstate</th>
    <th>Application</th>
    <th>Persistentid</th> -->
    <th>Vmname</th>
    <!-- <th>Vmhost</th> 
    <th>Folder</th>
    <th>Reourcepool</th> -->
    <th>Cluster</th>
    <th>Vcserver</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vms.each do |vm| %>
  <tr>
    <td><%= vm.datacenter %></td>
    <!-- <td><%#= vm.qtynics %></td> -->
    <td><%= vm.createdby %></td>
    <td><%= vm.createdtime %></td>
    <td><%= vm.suspendinterval %></td>
    <td><%= vm.suspendtime %></td>
    <td><%= vm.boottime %></td>
    <td><%= vm.storageuncommitted %></td>
    <td><%= vm.storagecommitted %></td>
    <td><%= vm.ipaddress %></td>
    <td><%= vm.hostname %></td>
    <td><%= vm.toolsrunningstatus %></td>
    <td><%= vm.toolsversion %></td>
    <td><%= vm.toolstatus %></td>
    <td><%= vm.guestfullname %></td>
    <td><%= vm.usedspacegb %></td>
    <td><%= vm.provisionedspacegb %></td>
    <td><%= vm.memorymb %></td>
    <td><%= vm.numcpu %></td>
    <td><%= vm.version %></td>
    <td><%= vm.gueststate %></td>
    <td><%= vm.connectionstate %></td>
    <td><%= vm.powerstate %></td>
    <td><%= vm.application %></td>
    <td><%= vm.persistentid %></td>
    <td><%= vm.vmname %></td>
    <td><%= vm.vmhost %></td>
    <td><%= vm.folder %></td>
    <td><%= vm.reourcepool %></td>
    <td><%= vm.cluster %></td>
    <td><%= vm.vcserver %></td>
    <td><%= link_to 'Show', vm %></td>
    <td><%= link_to 'Edit', edit_vm_path(vm) %></td>
    <td><%= link_to 'Destroy', vm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<h2>Import Products</h2>
<%= form_tag import_vms_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<%= will_paginate @vms %>
<%= link_to 'New Vm', new_vm_path %>
