<div class="container-fluid">
  <div class="row-fluid">
    <divclass="span-2">
    hiiii
    </div>
  <divclass="span-10">
  bye
  </div>
</div>
</div>
<% #comment do %>
<p id="notice"><%= notice %></p>

<p>
  <b>Datacenter:</b>
  <%= @vm.datacenter %>
</p>

<p>
  <b>Qtynics:</b>
  <%= @vm.qtynics %>
</p>

<p>
  <b>Createdby:</b>
  <%= @vm.createdby %>
</p>

<p>
  <b>Createdtime:</b>
  <%= @vm.createdtime %>
</p>

<p>
  <b>Suspendinterval:</b>
  <%= @vm.suspendinterval %>
</p>

<p>
  <b>Suspendtime:</b>
  <%= @vm.suspendtime %>
</p>

<p>
  <b>Boottime:</b>
  <%= @vm.boottime %>
</p>

<p>
  <b>Storageuncommitted:</b>
  <%= @vm.storageuncommitted %>
</p>

<p>
  <b>Storagecommitted:</b>
  <%= @vm.storagecommitted %>
</p>

<p>
  <b>Ipaddress:</b>
  <%= @vm.ipaddress %>
</p>

<p>
  <b>Hostname:</b>
  <%= @vm.hostname %>
</p>

<p>
  <b>Toolsrunningstatus:</b>
  <%= @vm.toolsrunningstatus %>
</p>

<p>
  <b>Toolsversion:</b>
  <%= @vm.toolsversion %>
</p>

<p>
  <b>Toolstatus:</b>
  <%= @vm.toolstatus %>
</p>

<p>
  <b>Guestfullname:</b>
  <%= @vm.guestfullname %>
</p>

<p>
  <b>Usedspacegb:</b>
  <%= @vm.usedspacegb %>
</p>

<p>
  <b>Provisionedspacegb:</b>
  <%= @vm.provisionedspacegb %>
</p>

<p>
  <b>Memorymb:</b>
  <%= @vm.memorymb %>
</p>

<p>
  <b>Numcpu:</b>
  <%= @vm.numcpu %>
</p>

<p>
  <b>Version:</b>
  <%= @vm.version %>
</p>

<p>
  <b>Gueststate:</b>
  <%= @vm.gueststate %>
</p>

<p>
  <b>Connectionstate:</b>
  <%= @vm.connectionstate %>
</p>

<p>
  <b>Powerstate:</b>
  <%= @vm.powerstate %>
</p>

<p>
  <b>Application:</b>
  <%= @vm.application %>
</p>

<p>
  <b>Persistentid:</b>
  <%= @vm.persistentid %>
</p>

<p>
  <b>Vmname:</b>
  <%= @vm.vmname %>
</p>

<p>
  <b>Vmhost:</b>
  <%= @vm.vmhost %>
</p>

<p>
  <b>Folder:</b>
  <%= @vm.folder %>
</p>

<p>
  <b>Reourcepool:</b>
  <%= @vm.reourcepool %>
</p>

<p>
  <b>Cluster:</b>
  <%= @vm.cluster %>
</p>

<p>
  <b>Vcserver:</b>
  <%= @vm.vcserver %>
</p>

<%= link_to 'Edit', edit_vm_path(@vm) %> |
<%= link_to 'Back', vms_path %>
<% #end %>
