<!DOCTYPE HTML>
<html>
<head>
  <%= stylesheet_link_tag  "landing",'bootstrap', :media => "all" %>
</head>
<body>


  <div id="wrapper">
  
    <div class="container login">
      <div class="login-pannel">
        <div class="login-header"><img src="/assets/logo.png" width="30%"></div>
        <div class="form" style="width:60%">
          <%= form_for @user, html: {class: "form"} do |f| %>
         <% if @user.errors.any? %>
          <div class="alert alert-error">
            <h2>Form is invalid</h2>
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

          <label>User Name/Email</label>
          <%= f.text_field :email , :placeholder => " User Name", :class=>"form-control", :autofocus=> true %>
          <label>Password</label>
          <%= f.password_field :password, :placeholder => " Password", :class=>"form-control" %>
          <label>Password Confirmation</label>
          <%= f.password_field :password_confirmation, :placeholder => " Password", :class=>"form-control" %>
         <%= f.submit t("user.sign_up", default: "Sign Up"), class: "btn btn-default btn-primary"  %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</body>

<style>
.alert-error {
color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
  }
</style>
