<%= form_for(@f5_device) do |f| %>
  <% if @f5_device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@f5_device.errors.count, "error") %> prohibited this f5_device from being saved:</h2>

      <ul>
      <% @f5_device.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :device %><br />
    <%= f.text_field :device %>
  </div>
  <div class="field">
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
