<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @hw_device.name %>
</p>

<p>
  <b>Type:</b>
  <%= @hw_device.type %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @hw_device.manufacturer %>
</p>

<p>
  <b>Model:</b>
  <%= @hw_device.model %>
</p>

<p>
  <b>Serial no:</b>
  <%= @hw_device.serial_no %>
</p>

<p>
  <b>Asset no:</b>
  <%= @hw_device.asset_no %>
</p>

<p>
  <b>Status:</b>
  <%= @hw_device.status %>
</p>

<p>
  <b>Country:</b>
  <%= @hw_device.country %>
</p>

<p>
  <b>State:</b>
  <%= @hw_device.state %>
</p>

<p>
  <b>Building:</b>
  <%= @hw_device.building %>
</p>

<p>
  <b>Room:</b>
  <%= @hw_device.room %>
</p>

<p>
  <b>Floor:</b>
  <%= @hw_device.floor %>
</p>

<p>
  <b>Ru size:</b>
  <%= @hw_device.ru_size %>
</p>

<p>
  <b>Ru position:</b>
  <%= @hw_device.ru_position %>
</p>

<p>
  <b>Hostname:</b>
  <%= @hw_device.hostname %>
</p>

<p>
  <b>Ip:</b>
  <%= @hw_device.ip %>
</p>

<p>
  <b>Owned by:</b>
  <%= @hw_device.owned_by %>
</p>

<p>
  <b>Assigned by:</b>
  <%= @hw_device.assigned_by %>
</p>

<p>
  <b>Cost center:</b>
  <%= @hw_device.cost_center %>
</p>

<p>
  <b>Console:</b>
  <%= @hw_device.console %>
</p>

<p>
  <b>Console ip:</b>
  <%= @hw_device.console_ip %>
</p>


<%= link_to 'Edit', edit_hw_device_path(@hw_device) %> |
<%= link_to 'Back', hw_devices_path %>
