<% if flash[:notice]%>
<div class="alert alert-error">
  <p><%= flash[:notice] %></p>
</div>
<% end %>

<section>

  <div class="landing-container">
    <div class="container">

      <div class="col-sm-12 workflow-blocks" style="padding:10px 20px 10px 20px;margin-bottom:20px;">
        IT Ops GPS provides the ability to search and navigate infrastructure inventory managed by VMware IT Operations. Data for VMs, ESX, and Services is gathered from the running environment, consolidated into a central database, and made accessible with this web application.

        To navigate the inventory: search for inventory of interest, view the results, and navigate the hyperlinks in the data.
      </div>
      <br />
      <div class="row">

        <div class="col-sm-6 col-md-3">
          <div class="metro-nav">
            <div class="metro-nav-block nav-block-orange">
              <a data-original-title="" data-remote="true" href="/vcenters">
                <div class="info_img"><img src="/assets/borrower.png"></div>
                <div class="info"><%= @vcenter_count %></div>
                <div class="status">Vcenter</div>
              </a>
            </div>

          </div>

          <div class="metro-nav">
            <div class="metro-nav-block nav-light-blue">
              <a data-original-title="" data-remote="true" href="/vms">
                <div class="info_img"><img src="/assets/borrower.png"></div>
                <div class="info"><%= @vm_count %></div>
                <div class="status">VMS</div>
              </a>
            </div>
          </div>
          <div class="metro-nav">
            <div class="metro-nav-block nav-light-green">
              <a data-original-title="" href="#">
                <div class="info_img"><img src="/assets/workflow.png"></div>
                <div class="info">234<%= @inactive_users %></div>
                <div class="status">ESX Hosts</div>
              </a>
            </div>
          </div>
        </div>
        <div class=" col-sm-6 col-md-3"><div class="metro-nav">
          <div class="metro-nav-block nav-olive">
            <a data-original-title="" data-remote="true" href="/vdcs">
              <div class="info_img"><img src="/assets/lender.png"></div>
              <div class="info"><%= @vdc_count %></div>
              <div class="status">Vdc</div>
            </a>
          </div>

        </div><div class="metro-nav">
        <div class="metro-nav-block nav-block-lavender">

          <a data-original-title="" href="#">
            <div class="info_img"><img src="/assets/underwriting.png"></div>
            <div class="info">645<%#= @underwriting%></div>
            <div class="status">F5 Vips</div>
          </a>
        </div>

      </div></div>
      <div class=" col-sm-6 col-md-3"><div class="metro-nav">
        <div class="metro-nav-block nav-block-yellow">
          <a data-original-title="" href="#">
            <div class="info_img"><img src="/assets/contract.png"></div>
            <div class="info">7656<%#= @contract_count%></div>
            <div class="status">Vcenters</div>
          </a>
        </div>

      </div><div class="metro-nav">
      <div class="metro-nav-block nav-block-redd">
        <a data-original-title="" href="#">
          <div class="info_img"><img src="/assets/scoring.png"></div>
          <div class="info">7656<%#= @scoring%></div>
          <div class="status">Services</div>
        </a>
      </div>

    </div></div>
    <div class=" col-sm-6 col-md-3"><div class="metro-nav">
      <div class="metro-nav-block nav-light-purple">
       <a data-original-title="" href="#">
        <div class="info_img"><img src="/assets/collection.png"></div>
        <div class="info">6455645<%#= @finanace_amt.to_i%></div>
        <div class="status">OS</div>
      </a>
    </div>

  </div>
  <div class="metro-nav">
    <div class="metro-nav-block nav-block-green">
     <a data-original-title="" href="/reports">
      <div class="info_img"><img src="/assets/finance.png"></div>
      <div class="info">Reports<%#= @collected_amt %></div>
      <div class="status"></div>
    </a>
  </div>

</div>
</div>


</div>




<div class="row">
  <div class="col-lg-12" style="height:60px">
  </div>
</div>


</div>
</div>


</section>
