<div class="index-container">
  <% @users = ['Vijaya Jyothi Kalangi (c)', 'Ashokraj Rajamanikam Devaraju'] %>

  <!-- Index form Started -->
  <div class="col-sm-12">
    <div class="form-search col-sm-4">
      <h2>F5 VIP Details</h2></div>
      <div class="form-search col-sm-4" style="margin-top:20px;">
        <div class="input-append">

          <%= form_tag re_f5_vips_path, :method => :get, :remote=> true do %>
          <%= text_field_tag :search, params[:search],:class=>"span2 search-query" ,:style=>"height:30px;"%>
          <%= submit_tag "Search", :name => nil, :class=>"btn" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class ="container" style="height:662px;overflow:auto;float:left;">
      <table class="table table-striped tablesorter">
        <tr>
          <th>Name</th>
          <th>IP</th>
          <th>Address</th>
          <th colspan=2> Actions</th>
        </tr>
        <% @re_f5_inventories.each do |f5| %>
        <% unless f5_vip.ops_status=="Deleted"%>
        
        <tr>
          <td><%= f5.name %></td>
          <td><%= f5.ip %></td>
          <td><%= f5.address %></td>
          <div class="button"> 
          <td><%= link_to 'Show', f5 ,:class => 'btn btn-mini btn-info', :remote=> true%></td></div>
          <!-- <td><%#= link_to 'Edit', edit_f5_vip_path(f5_vip),:class => 'btn btn-mini btn-warning', :remote=> true %></td> -->
          
        </tr>

        <% else %>
        <tr class="alert alert-error">
          <td colspan=3><%= f5.name %> is deleted</td>
          <td colspan=2>
            <% if @users.include? @current_user  %>

            <%= link_to 'Destroy', f5, method: :delete, data: { confirm: 'Are you sure?' } ,:class => 'btn btn-mini btn-danger delete-row', :remote=>true%>
            <% end %>
          </td>
        </tr>
        <% end %>
        
        <% end %>
<div class='load-ajax'></div>
        
      </table>
    </div>

    <div class="digg_pagination">
      <%= paginate @re_f5_inventories, :container => false, :remote => true %>
    </div>    
  </div>

 
<script>
$(function() {
    $('.load-ajax').hide();
    $(document).ajaxStart(function() {
        $('.load-ajax').show();
   });
   $(document).ajaxStop(function() {
        $('.load-ajax').hide();
   });
});
</script>

<style>
.load-ajax {
  /*float:right;*/
  background-image:url(<%= asset_path 'ajax-loader.gif' %>);
  width:450px;
  height:90px;
  background-position: center;
  background-repeat: no-repeat;
    position: fixed;
    top: 40%;
    left: 40%;
    margin-left: -40px; /* half width of the spinner gif */
    margin-top: -40px; /* half height of the spinner gif */
    text-align:center;
    z-index:0000;
    overflow: auto;
   
}
</style>



