<h1>Listing lun_disks</h1>

<table>
  <tr>
    <th>Storage lun</th>
    <th>Physical disk</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lun_disks.each do |lun_disk| %>
  <tr>
    <td><%= lun_disk.storage_lun_id %></td>
    <td><%= lun_disk.physical_disk_id %></td>
    <td><%= link_to 'Show', lun_disk %></td>
    <td><%= link_to 'Edit', edit_lun_disk_path(lun_disk) %></td>
    <td><%= link_to 'Destroy', lun_disk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lun disk', new_lun_disk_path %>
