<%= form_for(@f5_vip) do |f| %>
  <% if @f5_vip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@f5_vip.errors.count, "error") %> prohibited this f5_vip from being saved:</h2>

      <ul>
      <% @f5_vip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :port %><br />
    <%= f.number_field :port %>
  </div>
  <div class="field">
    <%= f.label :application_id %><br />
    <%= f.number_field :application_id %>
  </div>
  <div class="field">
    <%= f.label :instance_id %><br />
    <%= f.number_field :instance_id %>
  </div>
  <div class="field">
    <%= f.label :tier_id %><br />
    <%= f.number_field :tier_id %>
  </div>
  <div class="field">
    <%= f.label :f5_cluster_id %><br />
    <%= f.number_field :f5_cluster_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
