<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @f5_vip.name %>
</p>

<p>
  <b>Ip:</b>
  <%= @f5_vip.ip %>
</p>

<p>
  <b>Port:</b>
  <%= @f5_vip.port %>
</p>

<p>
  <b>Application:</b>
  <%= @f5_vip.application_id %>
</p>

<p>
  <b>Instance:</b>
  <%= @f5_vip.instance_id %>
</p>

<p>
  <b>Tier:</b>
  <%= @f5_vip.tier_id %>
</p>

<p>
  <b>F5 cluster:</b>
  <%= @f5_vip.f5_cluster_id %>
</p>


<%= link_to 'Edit', edit_f5_vip_path(@f5_vip) %> |
<%= link_to 'Back', f5_vips_path %>
