<%= form_for(@field_label) do |f| %>
  <% if @field_label.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@field_label.errors.count, "error") %> prohibited this field_label from being saved:</h2>

      <ul>
      <% @field_label.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :o_type %><br />
    <%= f.text_field :o_type %>
  </div>
  <div class="field">
    <%= f.label :field_name %><br />
    <%= f.text_field :field_name %>
  </div>
  <div class="field">
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :display %><br />
    <%= f.check_box :display %>
  </div>
  <div class="field">
    <%= f.label :display_page %><br />
    <%= f.text_field :display_page %>
  </div>
  <div class="field">
    <%= f.label :sub_panel %><br />
    <%= f.check_box :sub_panel %>
  </div>
  <div class="field">
    <%= f.label :external_resource %><br />
    <%= f.text_field :external_resource %>
  </div>
  <div class="field">
    <%= f.label :external_variable %><br />
    <%= f.text_field :external_variable %>
  </div>
  <div class="field">
    <%= f.label :external_resource_display %><br />
    <%= f.check_box :external_resource_display %>
  </div>
  <div class="field">
    <%= f.label :style_name %><br />
    <%= f.text_field :style_name %>
  </div>
  <div class="field">
    <%= f.label :table_display %><br />
    <%= f.check_box :table_display %>
  </div>
  <div class="field">
    <%= f.label :child_table_display %><br />
    <%= f.check_box :child_table_display %>
  </div>
  <div class="field">
    <%= f.label :main_field %><br />
    <%= f.check_box :main_field %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
