<p id="notice"><%= notice %></p>

<p>
  <b>O type:</b>
  <%= @field_label.o_type %>
</p>

<p>
  <b>Field name:</b>
  <%= @field_label.field_name %>
</p>

<p>
  <b>Label:</b>
  <%= @field_label.label %>
</p>

<p>
  <b>Display:</b>
  <%= @field_label.display %>
</p>

<p>
  <b>Display page:</b>
  <%= @field_label.display_page %>
</p>

<p>
  <b>Sub panel:</b>
  <%= @field_label.sub_panel %>
</p>

<p>
  <b>External resource:</b>
  <%= @field_label.external_resource %>
</p>

<p>
  <b>External variable:</b>
  <%= @field_label.external_variable %>
</p>

<p>
  <b>External resource display:</b>
  <%= @field_label.external_resource_display %>
</p>

<p>
  <b>Style name:</b>
  <%= @field_label.style_name %>
</p>

<p>
  <b>Table display:</b>
  <%= @field_label.table_display %>
</p>

<p>
  <b>Child table display:</b>
  <%= @field_label.child_table_display %>
</p>

<p>
  <b>Main field:</b>
  <%= @field_label.main_field %>
</p>


<%= link_to 'Edit', edit_field_label_path(@field_label) %> |
<%= link_to 'Back', field_labels_path %>
