<%= form_for(@f5_pool) do |f| %>
  <% if @f5_pool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@f5_pool.errors.count, "error") %> prohibited this f5_pool from being saved:</h2>

      <ul>
      <% @f5_pool.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :f5_vip_id %><br />
    <%= f.number_field :f5_vip_id %>
  </div>
  <div class="field">
    <%= f.label :f5_cluster_id %><br />
    <%= f.number_field :f5_cluster_id %>
  </div>
  <div class="field">
    <%= f.label :lb_method %><br />
    <%= f.text_field :lb_method %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
