<%= form_for(@re_f5_pool) do |f| %>
  <% if @re_f5_pool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@re_f5_pool.errors.count, "error") %> prohibited this re_f5_pool from being saved:</h2>

      <ul>
      <% @re_f5_pool.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :re_f5_vip_id %><br />
    <%= f.number_field :re_f5_vip_id %>
  </div>
  <div class="field">
    <%= f.label :pool_members %><br />
    <%= f.text_field :pool_members %>
  </div>
  <div class="field">
    <%= f.label :lb_method %><br />
    <%= f.text_field :lb_method %>
  </div>
  <div class="field">
    <%= f.label :pool_monitor %><br />
    <%= f.text_field :pool_monitor %>
  </div>
  <div class="field">
    <%= f.label :pool_status %><br />
    <%= f.text_field :pool_status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
