<% @users = ['Vijaya Jyothi Kalangi (c)', 'Ashokraj Rajamanikam Devaraju'] %>

<div class="index-container">
  <div class="col-sm-12">
    <div class="form-search col-sm-4">
      <h2>Virtual Data Center Details</h2></div>
      <div class="form-search col-sm-4" style="margin-top:20px;">
        <div class="input-append">

          <%= form_tag ovdcs_path, :method => :get, :remote=> true do %>
          <%= text_field_tag :search, params[:search],:class=>"span2 search-query" ,:style=>"height:30px;", :placeholder =>"OneCloud DC Search"%>
          <%= submit_tag "Search", :name => nil, :class=>"btn" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class ="container" style="height:662px;overflow:auto;float:left;">

      <table class="table table-striped tablesorter">
        <tr>
          <th>Organization</th>
          <th>Ovdc</th>
          <th colspan=2> Actions</th>
        </tr>
        <% @ovdcs.each do |ovdc| %>
        
        <tr style="" id ="complete_tr">
          <td><%= ovdc.org %></td>
          <td><%= ovdc.ovdc %></td>
          <div class='button'>
            <td><%= link_to 'Show', ovdc ,:class => 'btn btn-mini btn-info', :remote=> true%></td></div>
          </tr>
          <% end %>
          <div class='load-ajax'></div>

        </table>
      </div>
      <div class="digg_pagination">

        <%= paginate @ovdcs, :container => false, :remote=> true %>
      </div>

    </div>

    
    <script>
    $(function() {
      $('.load-ajax').hide();
      $(document).ajaxStart(function() {
        $('.load-ajax').show();
      });
      $(document).ajaxStop(function() {
        $('.load-ajax').hide();
      });
    });
    </script>

    <style>
    .load-ajax {
      /*float:right;*/
      background-image:url(<%= asset_path 'ajax-loader.gif' %>);
      width:450px;
      height:90px;
      background-position: center;
      background-repeat: no-repeat;
      position: fixed;
      top: 40%;
      left: 40%;
      margin-left: -40px; /* half width of the spinner gif */
      margin-top: -40px; /* half height of the spinner gif */
      text-align:center;
      z-index:0000;
      overflow: auto;
      
    }
    </style>

