<div class="index-container">
<div class="col-sm-12">
  <div class="form-search col-sm-4">
    <h2>VM Details</h2></div>
    <div class="form-search col-sm-4" style="margin-top:20px;">
      <div class="input-append">

        <%= form_tag vms_path, :method => :get do %>
        <%= text_field_tag :search, params[:search],:class=>"span2 search-query" ,:style=>"height:30px;"%>
        <%= submit_tag "Search", :name => nil, :class=>"btn" %>
        <% end %>
      </div>
    </div>
  </div>

  <table class="table table-striped tablesorter">
    <tr>
    <th>Name</th>
    <th>Ip</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vcenters.each do |vcenter| %>
  <tr>
    <td><%= vcenter.name %></td>
    <td><%= vcenter.ip %></td>
    <td><%= vcenter.description %></td>
    <td><%= link_to 'Show', vcenter %></td>
    <td><%= link_to 'Edit', edit_vcenter_path(vcenter) %></td>
    <td><%= link_to 'Destroy', vcenter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'New Vcenter', new_vcenter_path %>
