<h1>Listing vcenters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Ip</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vcenters.each do |vcenter| %>
  <tr>
    <td><%= vcenter.name %></td>
    <td><%= vcenter.ip %></td>
    <td><%= vcenter.description %></td>
    <td><%= link_to 'Show', vcenter %></td>
    <td><%= link_to 'Edit', edit_vcenter_path(vcenter) %></td>
    <td><%= link_to 'Destroy', vcenter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vcenter', new_vcenter_path %>
