<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @vcenter.name %>
</p>

<p>
  <b>Ip:</b>
  <%= @vcenter.ip %>
</p>

<p>
  <b>Description:</b>
  <%= @vcenter.description %>
</p>


<%= link_to 'Edit', edit_vcenter_path(@vcenter) %> |
<%= link_to 'Back', vcenters_path %>
