<%= form_for(@f5_node) do |f| %>
  <% if @f5_node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@f5_node.errors.count, "error") %> prohibited this f5_node from being saved:</h2>

      <ul>
      <% @f5_node.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :port %><br />
    <%= f.number_field :port %>
  </div>
  <div class="field">
    <%= f.label :f5_pool_id %><br />
    <%= f.number_field :f5_pool_id %>
  </div>
  <div class="field">
    <%= f.label :f5_cluster_id %><br />
    <%= f.number_field :f5_cluster_id %>
  </div>
  <div class="field">
    <%= f.label :vm_id %><br />
    <%= f.number_field :vm_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
