<header style="height:12% !important;">
  <script>
  window.location.hash="no-back-button";
window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
window.onhashchange=function(){window.location.hash="no-back-button";}
</script> 

<div class="container" style="border:0px #900 solid">

  <div class="row">
    <% if @current_user.present? %>

    <div class="col-sm-7" style="padding-top:10px;">
      <div class="logo" style="width:40% !important;margin-top:12px;"> 
        <%= link_to (image_tag("vm-logo.jpg")), "/", :id => "logo", :title=>"Back to Home", :style=>"margin:0px !important" %>
      </div>
     

      <div style="margin:22px;float:right;padding-right:4.2em;">
       <div class="form-search" >
         <div class="input-append" >
          <%= form_tag search_list_path, :method => :get, :remote=> true do %>
          <%= text_field_tag :search, params[:search],:placeholder =>"Search in Inventory",:class=>"span2 search-query" ,:style=>"height:30px;border-radius:14px 0 0 96px !important;border:3px solid rgb(101,152, 199);height:35px;width:85%;"%>
          <%= submit_tag "Search", :name => nil, :class=>"", :style=>"border-radius:0 96px 14px 0;border:3px solid rgb(101,152, 199);height:35px;color:black;background-color:rgb(101,152, 199)!important;font-size:medium;" %>
          <% end %>
        </div>
      </div>
    </div>

  </div>

  <div class="col-sm-5" align="right" style=" float:right">

    <!--Navigation Starts -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid" style="padding:0px !important;">
        <!-- Menu and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
           <img src="/assets/menu.png">
         </button>
       </div>
       <!-- Collect the nav links, forms, and other content for toggling -->
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div style="font-size:smaller;">
        <span><b>Logged in as: </b><%= @current_user %></span><br/>
        <!-- <span><b>Last Log in: </b><%#= last_login_time %></span> -->
      </div>
        <ul class="nav navbar-nav" style="float: right;padding-top: 5px;" align="right">

         <li style="width:12%;"><span class="nav-span"></span><%= link_to (image_tag("home.png")), "/" , :style=> "height:32px;width:32px;", :title=>"Home" %></li>
         <li style="width:12%;"><a href="/vcenters" data-remote=true alt="vCenters" title="vCenters"><span class="nav-span"></span><%= image_tag "vcenter.png", :style=> "height:32px;width:32px;"%></a></li>
         <li style="width:12%;"><a href="/vdcs" data-remote=true alt="vdcs" title="Data Centers"><span class="nav-span"></span><%= image_tag "vdc.png", :style=> "height:32px;width:32px;" %></a></li>
         <li style="width:12%;"><a href="/clusters" data-remote=true alt="Clusters" title="Clusters"><span class="nav-span"></span><%= image_tag "cluster.png", :style=> "height:32px;width:32px;" %></a></li>
         <li style="width:12%;"><a href="/vmhosts" data-remote=true alt="ESXi Host" title="ESXi Hosts"><span class="nav-span"></span><%= image_tag "vmhost.png", :style=> "height:32px;width:32px;" %></a></li>
         <li style="width:12%;"><a href="/vms" data-remote=true alt="VMs" title="VMs"><span class="nav-span"></span><%= image_tag "vm1.png", :style=> "height:32px;width:32px;" %></a></li>
         <li style="width:12%;"><a href="/ref5vips" data-remote=true alt="F5" title="F5"><span class="nav-span"></span><%= image_tag "f5.png", :style=> "height:32px;width:32px;" %></a></li>

         <li style="width:12%;"><span class="nav-span"></span><%= link_to "#{image_tag("/assets/exit.png")}".html_safe, logout_path, :class=>"logout-button", :alt=>"Logout", :title=>"Logout"%>
         </li>

       </ul>
     </div><!-- /.navbar-collapse -->
   </div><!-- /.container-fluid -->
 </nav>
 <!--EOF Navigation -->



</div>

<% else %>
<div class="col-sm-6">
  <div class="logo" style="width:45% !important;"> <%= link_to (image_tag("vm-logo.jpg")), "/", :id => "logo" %>
  </div>
</div>
</div>
</div>
<% end %>




</header>

<style>

div.logo:hover  {
  /*opacity:0.6;*/
  transform: scale(1.1);
  /*background-size: 150% 150%;*/
}
.navbar .nav>li:hover {
  /*opacity:0.6;*/
  transform: scale(1.1);
  /*background-size: 150% 150%;*/
}

</style>
